# API keys and tokens required for the Rocky LM project
DEEPSEEK_API_KEY=your_deepseek_api_key_here #Optional; needed only if you want to generate more synthetic data
HF_TOKEN=your_huggingface_token_here #Optional, needed to push your fused model to your hf repo
